{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            ">0.25%",
            "not op_mini all"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
