.playkit-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.playkit-engine {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.playkit-engine video::-webkit-media-controls-panel,
.playkit-engine video::-webkit-media-controls-panel-container,
.playkit-engine video::-webkit-media-controls-start-playback-button,
.playkit-engine video::-webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}

.playkit-poster {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
}

.playkit-subtitles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.playkit-black-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.playkit-size-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
}

.playkit-in-browser-fullscreen-mode {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  /*added for blocking element with fixed position which could be on the top of the player */
  z-index: 999999 !important;
}
